body{
  text-align: center;
}

h1{
  font-family: Sans-serif;
  font-size: 45px;
  background-color: #d4af37
}

h2{
   color: #d4af37;
  font-size: 25px;
}

#image{
  height: 350px;
  

}

#img-caption{
  font-family: Helvetica;
}
p{
  font-family: Helvetica;
}